@using System.Configuration;

@{
    ViewBag.Title = "Alta Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Version = ConfigurationManager.AppSettings["Version"];
}

<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 pl-0 pr-0 ml-0 mr-0" id="frame_form">
    <form role="form" id="form">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div class="well well-sm"><strong><span class="fa fa-exclamation-circle"></span> Datos requeridos</strong></div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-ls-4 ocultar">
                    <label>Usuario</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="text" class="form-control" autocomplete="off" disabled="disabled" id="UserId" name="UserId" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 col-ls-4">
                    <label for="tipo">Tipo</label>
                    <div class="right-inner-addon">
                        <select name="Type" id="Type" class="form-control">
                            <option value="0">Usuario</option>
                            <option value="1">Administrador</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8 col-ls-8">
                    <label for="tipo">Departamento</label>
                    <div class="right-inner-addon">
                        <select name="Departamento" id="Departamento" class="form-control">
                            <option value="false">Ventas</option>
                            <option value="true">Desarrollo</option>
                            <option value="true">Soporte</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-ls-6">
                    <label for="Nick">Usuario</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="text" class="form-control" autocomplete="off" id="Nick" name="Nick" maxlength="100" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-ls-6">
                    <label for="Name">Nombre</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="text" class="form-control" autocomplete="off" id="Name" name="Name" maxlength="100" />
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-ls-6">
                    <label for="Email">Correo</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="text" class="form-control" autocomplete="off" id="Email" name="Email" maxlength="100" />
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-ls-6">
                    <label for="Telephone">Telefono</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="text" class="form-control" autocomplete="off" id="Telephone" name="Telephone" maxlength="100" />
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-ls-6">
                    <label for="Nombregrupo">Contraseña</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="password" class="form-control" autocomplete="off" id="Pass" name="Pass" maxlength="100" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-ls-6">
                    <label for="Nombregrupo">Repetir contraseña</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="password" class="form-control" autocomplete="off" id="Pass2" name="Pass2" maxlength="100" />
                    </div>
                </div>


            </div>
        </div>

        <div id="buttonsform" class="text-right">           
            <button type="button" class="btn btn-success" id="save"><i class="fa fa-save"></i> Guardar</button>            
            <button type="button" class="btn btn-danger" id="cancel"><i class="fa fa-remove"></i> Cancelar</button>
        </div>
    </form>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="butonsoperations">
        
        <div class="form-group pull-left">
            <button type="button" class="btn btn-success" id="checkall"><i class="fa fa-list"></i> Selec. Todos</button>
            <button type="button" class="btn btn-success" id="create_modify"><i class="fa fa-male"></i> Crear</button>
            <button type="button" class="btn btn-danger" id="delete"><i class="fa fa-remove"></i> Eliminar</button>
        </div>                           

        <div class="form-group pull-right" style="padding-right:10px;">
            @*<button type="submit" class="btn btn-success" id="imprimir" onclick="ImprimirReporte()" ;><i class="fa fa-print"></i> Imprimir</button>*@
            @*<div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-arrow-circle-down"></i> Exportar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a onclick="ImprimirReporte(0)"><i class="fa fa-file-pdf-o"></i> Pdf</a></li>
                        <li><a onclick="ImprimirReporte(1)"><i class="fa fa-file-excel-o"></i> Excel</a></li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-ls-12" id="frame_table">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="text-center">
                Listado de usuarios
            </div>
        </div>
        <div class="panel-footer table-responsive">
            <table class="table table-bordered table-striped" id="my-final-table">
                <thead>
                    <tr>
                        <th class="ocultar" id="UserId" data-dynatable-column="UserId">Clave</th>
                        <th id="html" data-dynatable-column="html"></th>
                        <th id="Nick" data-dynatable-column="Nick">Usuario</th>
                        <th id="Name" data-dynatable-column="Name">Nombre</th>
                        <th id="Email" data-dynatable-column="Email">Correo</th>
                        <th id="Telephone" data-dynatable-column="Telephone">Telefono</th>
                        <th id="RegTimeStamp" data-dynatable-column="RegTimeStamp">Fecha</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {   
    @Scripts.Render("~/Content/jsmethods/manager.js?version=" + Version)
    @Scripts.Render("~/Content/jsmethods/user.js?version=" + Version)
}