@using System.Configuration;

@{
    ViewBag.Title = "Solicitudes | Administrador";
    var Version = ConfigurationManager.AppSettings["Version"];
}



<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-ls-12" id="frame_table">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="text-center">
                    Listado de solicitudes
                </div>
            </div>
            <div class="panel-footer table-responsive">
                <table class="table table-bordered table-striped" id="my-final-table">
                    <thead>
                        <tr>
                            <th id="html" data-dynatable-column="html"></th>
                            <th class="ocultar" id="UserId" data-dynatable-column="UserId">Clave</th>
                            <th id="Nick" data-dynatable-column="Nick">Usuario</th>
                            <th id="Name" data-dynatable-column="Name">Solicitud</th>
                            <th id="Email" data-dynatable-column="Email">Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/jsmethods/manager.js?version=" + Version)
    @*@Scripts.Render("~/Content/jsmethods/initAdmin.js?version=" + Version)*@    
}

