@using System.Configuration;


@{
    ViewBag.Title = "Administracion de solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Version = ConfigurationManager.AppSettings["Version"];
}

<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 pl-0 pr-0 ml-0 mr-0" id="frame_form">
    <form role="form" id="form">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div class="well well-sm"><strong><span class="fa fa-exclamation-circle"></span> Datos requeridos</strong></div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-ls-4 ocultar">
                    <label>SolicitudId</label>
                    <div class="right-inner-addon">
                        <i class="fa fa-exclamation-circle"></i>
                        <input type="text" class="form-control" autocomplete="off" disabled="disabled" id="SolicitudId" name="SolicitudId" />
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 col-ls-4">
                    <label for="conceptoId">Concepto solicitud</label>
                    <div class="right-inner-addon">
                        <select name="ConceptId" id="ConceptId" class="form-control">
                           
                        </select>
                    </div>
                </div>               
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 col-ls-4">
                    <table id="myTable" class=" table order-list">
                        <thead>
                            <tr>
                                <td>Escribe la pregunta</td>                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-10">
                                    <input type="text" name="name" class="form-control" />
                                </td>
                               
                                <td class="col-sm-2">
                                    <a class="deleteRow"></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" style="text-align: left;">
                                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Agregar pregunta" />
                                </td>
                            </tr>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 col-ls-4">
                    <label for="AutorizadorId">Autorizador</label>
                    <div class="right-inner-addon">
                        <select name="AutorizadorId" id="AutorizadorId" class="form-control">
                           
                        </select>
                    </div>

                    <br />

                    <label for="CopiaId">Copia</label>
                    <div class="right-inner-addon">
                        <select name="CopiaId" id="CopiaId" class="form-control">
                            
                        </select>
                    </div>

                    <br />
                </div>               
            </div>
        </div>

        <div id="buttonsform" class="text-right">
            <button type="button" class="btn btn-success" id="save"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" class="btn btn-danger" id="cancel"><i class="fa fa-remove"></i> Cancelar</button>
        </div>
    </form>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="butonsoperations">
        <div class="form-group pull-left">
            <button type="button" class="btn btn-success" id="checkall"><i class="fa fa-list"></i> Selec. Todos</button>
            <button type="button" class="btn btn-success" id="create_modify"><i class="fa fa-male"></i> Crear</button>
            <button type="button" class="btn btn-danger" id="delete"><i class="fa fa-remove"></i> Eliminar</button>
        </div>        
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-ls-12" id="frame_table">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="text-center">
                Listado de solicitudes
            </div>
        </div>
        <div class="panel-footer table-responsive">
            <table class="table table-bordered table-striped" id="my-final-table">
                <thead>
                    <tr>
                        <th id="html" data-dynatable-column="html"></th>
                        <th class="ocultar" id="UserId" data-dynatable-column="UserId">Clave</th>
                        <th id="Nick" data-dynatable-column="Nick">Usuario</th>
                        <th id="Name" data-dynatable-column="Name">Solicitud</th>
                        <th id="Email" data-dynatable-column="Email">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Content/jsmethods/manager.js?version=" + Version)
    @Scripts.Render("~/Content/jsmethods/solicitante.js?version=" + Version)
}
